<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This app was brought to you by the
  <a href='http://railstutorial.org/book'>Rails Tutorial book</a>,
  and viewers like you!
</p>

<p class='signature'>--Jimmy Z, Rails extroardinaire</p>
