<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  Hello! I am a sample app. I have sample dreams and sample desires
</p>

<%= link_to 'About Us', static_pages_about_path %>
<%= link_to 'Help', static_pages_help_path %>
