<footer class='footer'>
  <small>
    <a href='http://railstutorial.org/'>Rails Tutorial</a>
    by Michael Hartl
    <br />
    <%= link_to "This Site That You're Already On", root_path %>
    by Jimmy Z
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',   about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'News', 'http://www.theonion.com' %></li>
    </ul>
  </nav>
</footer>
